* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: #333;
    border: 2px solid red;
    padding: 15px;
    display: grid;
    grid-template-columns: 50px auto 10%;
    height: 35vh;
    grid-template-rows: 40% 30% 30%;
    gap: 5px; /* espaçamento entre linhas e colunas */
    /*grid-row-gap: 10px; espaçamento entre as linhas */
    /*grid-column-gap: 5px; espaçamento entre as colunas */
}

.container div {
    background-color: #ccc;
    padding: 20px;
    border: 1px solid blue;
}
